* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: 'Playfair Display';
    /*font-family: 'Amatic SC';
    font-family: 'Nothing You Could Do';
    font-family: 'Cormorant Upright';
    padding: 0.2rem;*/
}

header {
    background-image: url('images/headers/alberto-zanetti-I4WSyUKvJ2U-unsplash2.jpg');
    height: 210px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

nav {
    /*position: sticky;
    top: -1px;
    background-color: white;
    z-index: 10;*/
}

.navContainer {
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navBox {
    padding: 0.6rem 0.3rem;
    border-radius: 24px;
}

.navBox a {
    padding: 0.3rem 0.3rem;
}

.navBox i {
    font-size: 0.75rem;
}

a {
    color:black;
    font-weight: normal;
    padding: 0 0.5rem 0 0.5rem;
    text-decoration: none;
}

.navBox a:hover {
    background-color: black;
    color: white;
    /*border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
}

#findMe {
    margin-left: 4.5rem;
}



/* MAIN SECTION */

main {
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
    font-weight: normal;
    margin-right: 1rem;
    margin-left: 1rem; 
}

#intro {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

#intro p {
    font-size: 1rem;
    line-height: 1.5;
}


#gridSection {
    background-color: white;
}

.grid {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    margin: auto;
    max-width: 69rem;
    padding: 1rem;
    grid-gap: 1rem;
}


.box {
    /*border-style: solid;
    border-width: 0.01rem;*/
    border-radius: 20px;
    height: 16rem;
    width: 16rem;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;*/
    padding: 1.5rem;
    color: white;
}

#aboutMeBox {
    grid-area: 1 / 1 / span 2 / span 2;
    width: 33rem;
    justify-content: center;
    padding-left: 0;
}

#aboutMeBox img {
    width: 9rem;
    display: none;
}

#aboutMeBox p {
    text-align: center;
    padding: 2rem;
}

#aboutMeText {
    display: none;
}

#myBackgroundBox {
    grid-area: 1 / 3 / span 1 / span 1;
}

#myBackgroundText {
    display: none;
}

#theFutureBox {
    grid-area: 1 / 4 / span 1 / span 1;
}

#theFutureBox em {
    font-family: cursive;
    color: orange;
}

#theFutureText {
    display: none;
}

#myExperienceBox {
    grid-area: 2 / 1 / span 1 / span 1;
    opacity: 0.95;
}

#myExperienceBox a {
    color:white;
    text-decoration: underline;
    text-decoration-thickness: 0.01rem;
}

#myExperienceBox em {
    font-size: 0.7rem;
    padding-bottom: 0.2rem;
    display: block;
}

#myExperienceText {
    display: none;
}

#mySkillsBox {
    grid-area: 2 / 2 / span 1 / span 1;
}

#mySkillsText {
    display: none;
}

#mySelfBox {
    grid-area: 2 / 3 / span 1 / span 2;
    width: 33rem;
    justify-content: space-around;
}

#mySelfText {
    display: none;
}

iframe {
    border-style: none;
    padding: 1rem 1rem 1rem 1rem;
    width: 320px;
    height: 240px;
    flex-shrink: 1;
    font-family: 'Playfair Display';
    border-radius: 24px;
}

footer {
    font-size: 0.8rem;
    background-color: white;
    opacity: 0.9;
    padding: 0.2rem 0.2rem 0.5rem 1rem;
}


@media only screen and (max-width: 1200px) {
    .grid {
        grid-template: repeat(4, 1fr) / repeat(2, 1fr);
        max-width: 35rem;
    }
    #myBackgroundBox {
        grid-area: 2 / 1 / span 1 / span 1;
    }
    #theFutureBox {
        grid-area: 2 / 2 / span 1 / span 1;
    }   
    #myExperienceBox {
        grid-area: 3 / 1 / span 1 / span 1;
    }
    #mySkillsBox {
        grid-area: 3 / 2 / span 1 / span 1;
    }
    #mySelfBox {
        grid-area: 4 / 1 / span 1 / span 2;
    } 
}

@media only screen and (max-width: 600px) {
    .navContainer {
        justify-content: center;
    }
    .navContainer p {
        display: none;
    }
}


@media only screen and (max-width: 480px) {
    .grid {
        grid-template: repeat(6, 1fr) / repeat(1, 1fr);
        max-width: 18rem;
    }
    #aboutMeBox {
        grid-area: 1 / 1 / span 1 / span 1;
        width: 16rem;
    }
    #myBackgroundBox {
        grid-area: 2 / 1 / span 1 / span 1;
    }
    #theFutureBox {
        grid-area: 3 / 1 / span 1 / span 1;
    }   
    #myExperienceBox {
        grid-area: 4 / 1 / span 1 / span 1;
    }
    #mySkillsBox {
        grid-area: 5 / 1 / span 1 / span 1;
    }
    #mySelfBox {
        grid-area: 6 / 1 / span 1 / span 2;
        width: 16rem;
    }
    iframe {
        display: none;
    }
}